**/._.DS_Store
extra/ dataset/
**/extra dataset
**/.DS_Store
**/__pycache__
**/Milestone2_e
milestone 1/paper.txt
**/__MACOSX/
github
milestone 2/baseline/GoogleNews-vectors-negative300.bin.gz
milestone 2/baseline/FNC_model
milestone 2/baseline/LSTM_model
milestone 2/baseline/LSTM_prediction.npy
**/output